<th:block>
    <a href="/"><img src="../../images/emblem.png" alt="Victory"></a>

    <ul id="menu">
        <li><a href="/catalog">Catalog</a></li>
        <li><a href="/search">Offers</a></li>
        <span id="guest-nav">
                    <li class="guest"><a href="/login">Login</a></li>
                    <li class="guest"><a href="/register">Register</a></li>
                </span>
        <span id="user-nav">
                    <li class="user"><a href="/create">Wishlist</a></li>
                    <li id="logoutBtn" class="user"><a href="javascript:void(0)">Logout</a></li>
            </span>
    </ul>

    <a href="javascript:void(0)" id="menu-toggle" class="navbar-brand">&#9776</a>
</th:block>