<th:block>
    <a href="/"><img src="../../images/emblem.png" alt="Victory"></a>

    <ul id="menu">
        <li><a th:href="@{/decks/all}">Catalog</a></li>
        <span id="guest-nav" sec:authorize="!isAuthenticated()">
                    <li class="guest"><a th:href="@{/users/login}">Login</a></li>
                    <li class="guest"><a th:href="@{/users/register}">Register</a></li>
        </span>
        <span id="user-nav" sec:authorize="isAuthenticated()">
                    <li class="user"><a th:href="@{/offers}">Offers</a></li>
                    <li class="user"><a th:href="@{/wishlist}">Wishlist</a></li>
                    <li class="user"><a th:href="@{/users/profile/{username} (username=${#authentication.name})}">Profile</a></li>
                    <li id="logoutBtn" class="user">
                        <form th:action="@{/users/logout}"
                              th:method="POST">
                                <input type="submit" value="Logout">
                        </form>
                    </li>
        </span>
    </ul>

    <a href="javascript:void(0)" id="menu-toggle" class="navbar-brand">&#9776</a>
</th:block>