@import "utils/navigation.css";
@import "utils/footer.css";
@import "utils/backToTopBtn.css";


* {
    margin: 0;
    padding: 0;
}

:root{

    --light-black: #16171D;
    --black: #0b141a;
    --dense-gold: #b78846;
    --light-gold: #DBAB4D;
    --grey: #efefef;
    --dark-blue: rgb(54, 75, 179);
    --royal-red: #b75053;
}

body, html {
    font-weight: 400;
    font-family: Lato, Arial, sans-serif;
    text-align: center;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;

    position: relative;
    z-index: -3;
    background-color: var(--light-black);
}

a {
    color: inherit;
    text-decoration: none;
}

/*sort modal*/

#exampleModalCenter{
    position: fixed;
    z-index: 1;
}

.modal-backdrop{
    position: fixed;
    z-index: 0;
}

.sortBtnWrap{
    max-width: 33vw;
}

#saveSortBtn{
    background-color: var(--dense-gold);
    border-color: transparent;
}

#closeModalBtn{
    background-color: var(--light-black);
    border-color: transparent;
}

.search .sort{
    background-color: var(--royal-red);
}

/*search bar*/

.search {
    align-items: center;
    background: var(--grey);
    border-radius: 3em;
    box-shadow: var(--dense-gold) 0px 7px 20px 0px;
    cursor: pointer;
    display: flex;
    height: 50px;
    left: 50%;
    overflow: hidden;
    padding: 0 0 0 0.5em;
    position: absolute;
    top: 50%;
    transform: translate(-110%, -50%);
    width: 25vw;
    transition: all 0.25s;
    content: '&#x21d5';
}
.top .search {
    max-width: 75%;
    height: 5em;
    top: 150%;
    transform: translate(-50%, 0);
    border-radius: 5em;
    width: 50em;
}

.input {
    border: 0;
    flex: 1;
    font-size: 1.5em;
    height: 100%;
    opacity: 1;
    outline: 0;
    padding: 0 0.75em;
    transition: all 0.25s;
    background-color: transparent;
    position: relative;
}
.top .input {
    opacity: 1;
    z-index: -1;
}

header .button {
    align-items: center;
    background: var(--dark-blue);
    border: 0;
    border-radius: 2.75em;
    display: flex;
    height: 80%;
    justify-content: center;
    margin: 0 0.75em;
    width: 10%;
    transition: all 0.25s;
    z-index: -1;
    cursor: pointer;
}
header .button::before {
    font-size: 1.5em;
    transition: all 0.25s;
}
.top .button {
    width: 4.75em;
    height: 4.75em;
    border-radius: 4.75em;
}
.top .button::before {
    font-size: 2.5em;
}


/*catalog - cards*/

main{
    position: relative;
    z-index: -2;
}

a.card-link-wrap{
    color: inherit;
}

#catalogCont{
    background-color: transparent !important;
    margin-top: 15vh;
    margin-bottom: 10vh;
}


.productCard:hover{
    transform: scale(1.01);
}

.productCard{
    background-color: var(--dense-gold);
}

.productCard *{
    color: var(--grey);
}

.btn-group{
    margin-top: 2vh;
}

.cardBtn{
    border-color: var(--light-black);
    border-width: 2px;
    margin: 5px;
    border-radius: 10% !important;
}

.detailsBtn:hover{
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
    transition: 0.5s;
}

.editBtn:hover{
    background-color: green;
    border-color: green;
    transition: 0.5s;
}

.deleteBtn:hover{
    background-color: firebrick;
    border-color: firebrick;
    transition: 0.5s;
}



/*footer*/

