:root{
    /*--dark-blue:#05386B;*/
    /*--dark-green: rgb(55, 150, 131);*/
    /*--green: #5CDB95;*/
    /*--light-green: #8EE4AF;*/
    /*--grey: #EDF5E1;*/

    --light-black: #16171D;
    --black: #0b141a;
    --dense-gold: #b78846;
    --light-gold: #DBAB4D;
    --grey: #efefef;
    --dark-blue: rgb(54, 75, 179);
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;

    background-color: var(--light-black);
    background-image: url('../images/background-pattern.webp');
    background-position: center center;
    background-repeat: repeat;
}

#nav {
    font: bold 12px Arial, Helvetica, Sans-serif;
    background-color: var(--black);
    border-bottom: 4px solid var(--dense-gold);
    overflow: auto;
    width: 100%;
    min-width: 650px;
    align-items: center;
    display: flex;
}

#nav>ul a {
    text-decoration: none;
    color: var(--grey);
    font-size: 20px;
    font-weight: bolder;
    position: relative;
    margin: 18px;
    padding: 4px 4px 5px 4px;
    border: 2px solid transparent;
}

#nav>a {
    border: 2px solid transparent;
}

#nav a:hover {
    cursor: pointer;
    color: var(--light-gold);
    font-weight: bolder;
    border: 2px solid var(--light-gold);
    border-radius: 5px;
}

#nav ul {
    margin: 0 0 0 auto;
}

#nav ul li {
    display: inline;
    margin: 0 2px;
}

li::before {
    display: inline;
}

#nav>a>img {
    width: 90px;
    height: 80px;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.card {
    max-width: 700px;
    margin-top: 25vh;
    margin-left: 30vw;
    margin-right: 30vw;
    padding: 63px;
    text-align: center;
    background-color: var(--light-gold);
    border-radius: 20px;
    box-shadow: 4px 4px 5px 2px var(--black);
}

.store-link {
    font-family: Lato, Arial, sans-serif;
    color: var(--dark-blue);
    background-color: var(--black);
    margin: 2px;
    padding: 3px;
    border: 3px solid var(--dark-blue);
    border-radius: 50px;
    align-self: center;
    width: 8vw;
}

.store-link:hover {
    cursor: pointer;
    color: var(--black);
    text-decoration: none;
    background-color: var(--light-gold);
    border-color: var(--black);
}

.card-body {
    margin: auto;
    width: 100%;
    padding: 5px;
    text-align: center;
}

body>footer {
    background-color: var(--black);
    width: 100%;
    display: flex;
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
    padding: 0 5px 0 3px;
    margin: 0%;
    margin-top: 25%;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    color: var(--grey);
    font-weight: bold;
}