:root{
    --dark-blue:#05386B;
    --dark-green: rgb(55, 150, 131);
    --green: #5CDB95;
    --light-green: #8EE4AF;
    --grey: #EDF5E1;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--grey);
    height: 100%;
    width: 100%;
}

#nav {
    font: bold 12px Arial, Helvetica, Sans-serif;
    background-color: var(--dark-green);
    overflow: auto;
    width: 100%;
    min-width: 650px;
    align-items: center;
    display: flex;
}

#nav>ul a {
    text-decoration: none;
    color: var(--grey);
    font-size: 20px;
    font-weight: bolder;
    position: relative;
    margin: 18px;
    padding: 4px 4px 5px 4px;
    border: 2px solid transparent;
}

#nav>a {
    border: 2px solid transparent;
}

#nav a:hover {
    cursor: pointer;
    color: var(--light-green);
    font-weight: bolder;
    border: 2px solid var(--light-green);
    border-radius: 5px;
}

#nav ul {
    margin: 0 0 0 auto;
}

#nav ul li {
    display: inline;
    margin: 0 2px;
}

li::before {
    display: inline;
}

#nav>a>img {
    width: 90px;
    height: 80px;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.card {
    max-width: 700px;
    margin-top: 25vh;
    margin-left: 30vw;
    margin-right: 30vw;
    padding: 63px;
    text-align: center;
    background-color: var(--light-green);
    border-radius: 20px;
    box-shadow: 4px 4px 5px 2px var(--dark-green);
}

.store-link {
    font-family: Lato, Arial, sans-serif;
    color: var(--grey);
    background-color: var(--dark-blue);
    margin: 2px;
    padding: 3px;
    border: 3px solid transparent;
    border-radius: 50px;
    align-self: center;
    width: 8vw;
}

.store-link:hover {
    cursor: pointer;
    color: var(--dark-blue);
    text-decoration: none;
    background-color: var(--light-green);
    border-color: var(--dark-blue);
}

.card-body {
    margin: auto;
    width: 100%;
    padding: 5px;
    text-align: center;
}

body>footer {
    background-color: var(--dark-green);
    width: 100%;
    display: flex;
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
    padding: 0 5px 0 3px;
    margin: 0%;
    margin-top: 25%;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    color: var(--grey);
    font-weight: bold;
}