<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="../../css/account.css"/>
    <link rel="stylesheet" href="../../css/bootstrap/bootstrapNav.css"/>

    <th:block th:repalce="~{/fragments/head.html}"/>

</head>
<body>

<header>

    <nav id="nav" class="navbar navbar-expand">
        <th:block th:replace="~{/fragments/navigation.html}"/>
    </nav>

</header>

<th:block th:replace="~{/fragments/sidebar.html}"/>

<main>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">


                            <div class="col-xs-6">
                                <a href="/user/login"     id="login-form-link" th:classappend="${form}=='login' ? 'active' : ''" th:disabled="${form}!='login'">Login</a>
                            </div>

                            <div class="col-xs-6">
                                <a href="/user/register" id="register-form-link" th:classappend="${form}=='register' ? 'active' : ''" th:disabled="${form}!='register'">Register</a>
                            </div>


                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">


                                <form id="login-form" th:action="@{/user/login}" th:method="POST"
                                      role="form" th:if="${form}=='login'" th:object="${user}">
                                    <div class="form-group">
                                        <input type="text" name="username" id="log_username" tabindex="1"
                                               class="form-control" placeholder="Username"
                                                th:field="*{username}" th:errorclass="invalid-field">
                                        <div class="error">
                                            <span th:text="${#strings.listJoin(#fields.errors('username'), '; ')}">

                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="log_password" tabindex="2"
                                               class="form-control" placeholder="Password"
                                                th:field="*{password}" th:errorclass="invalid-field">
                                        <div class="error">
                                            <span th:text="${#strings.listJoin(#fields.errors('password'), '; ')}">

                                            </span>

                                            <span th:if="${badCredentials}">
                                                Could not find user with the given credentials
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group text-center">
                                        <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                        <label for="remember"> Remember Me</label>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                                                       class="form-control btn btn-login" value="Log In">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="text-center">
                                                    <a href="https://phpoll.com/recover" tabindex="5"
                                                       class="forgot-password">Forgot Password?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <form id="register-form" th:action="@{/user/register}" th:method="POST"
                                      role="form" th:if="${form}=='register'" th:object="${user}">
                                    <div class="form-group">
                                        <input type="text" tabindex="1"
                                               class="form-control" placeholder="Username"
                                               th:field="*{username}" th:errorclass="invalid-field">
                                        <div class="error">
                                            <span th:text="${#strings.listJoin(#fields.errors('username'), '; ')}">

                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" tabindex="1"
                                               class="form-control" placeholder="Email Address"
                                               th:field="*{email}" th:errorclass="invalid-field">
                                        <div class="error">
                                            <span th:text="${#strings.listJoin(#fields.errors('email'), '; ')}">

                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="reg_password" tabindex="2"
                                               class="form-control" placeholder="Password"
                                               th:field="*{password}" th:errorclass="invalid-field">
                                        <div class="error">
                                            <span th:text="${#strings.listJoin(#fields.errors('password'), '; ')}">

                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" tabindex="2"
                                               class="form-control" placeholder="Confirm Password"
                                               th:field="*{rePass}" th:errorclass="invalid-field">
                                        <div class="error">
                                            <span th:text="${#strings.listJoin(#fields.errors('rePass'), '; ')}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="register-submit" id="register-submit"
                                                       tabindex="4" class="form-control btn btn-register"
                                                       value="Register Now">
                                            </div>
                                        </div>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:replace="~{/fragments/footer.html}"/>

<script src="../../js/sidebar.js"></script>

</body>
</html>