<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


    <script th:src="@{/js/backToTop.js}" type="module"></script>
    <script th:src="@{/js/sidebar.js}" type="module"></script>

    <link rel="stylesheet" th:href="@{/css/orders.css}"/>

    <th:block th:replace="~{/fragments/head.html}"/>

</head>
<body>

<header>

    <nav id="nav" class="navbar navbar-expand">
        <th:block th:replace="~{/fragments/navigation.html}"/>
    </nav>

</header>

<th:block th:replace="~{/fragments/sidebar.html}"/>

<main>
    <!-- Up to Top Button-->
    <button type="button" class="btn btn-floating btn-lg" id="btn-back-to-top">&#x2191</button>

    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10">
                <div class="rounded">
                    <div class="table-responsive table-borderless">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Contents</th>
                                <th>Seller</th>
                                <th>Status</th>
                                <th>Total</th>
                                <th>Created</th>
                            </tr>
                            </thead>
                            <tbody class="table-body">
                            <tr class="cell-1"  th:each="order : ${orders}" th:object="${order}" th:id="*{id}">
                                <td class="contents" th:text="|*{products[0]}...|"></td>
                                <td class="seller" th:text="*{sellerUsername}"></td>
                                <td><span class="badge badge-success" th:text="*{status}"></span></td>
                                <td th:text="|*{price}€|"></td>
                                <td th:text="*{#dates.format(orderTime, 'dd-MMM-yyyy')}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:replace="~{/fragments/footer.html}"/>

<script>
    document.querySelectorAll(".contents").forEach(e => e.addEventListener("click", (ev) => {
        ev.preventDefault();

        window.location = "/orders/" + ev.currentTarget.id;
    }))

    document.querySelectorAll(".seller").forEach(e => e.addEventListener("click", (ev) => {
        ev.preventDefault();

        window.location = "/users/" + ev.currentTarget.textContent;
    }))
</script>

</body>
</html>