<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


    <script th:src="@{/js/sidebar.js}" type="module"></script>
    <script th:src="@{/js/deleteAddresses.js}" type="module"></script>

    <link rel="stylesheet" th:href="@{/css/userProfile.css}"/>

    <th:block th:replace="~{/fragments/head.html}"/>

</head>
<body>
<header>

    <nav id="nav" class="navbar navbar-expand">
        <th:block th:replace="~{/fragments/navigation.html}"/>
    </nav>

</header>

<article class="modal fade" id="consentModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header no-border">
                <h5 class="modal-title" id="consentModalTitle">
                    Are you sure you want to promote this user?
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeConsentModalBtn">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body no-border">
                <div class="modal-footer no-border">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="returnBtn">
                        Return
                    </button>
                    <button class="btn btn-primary" id="continueBtn">
                        Yes, continue
                    </button>
                </div>
            </div>
        </div>
    </div>
</article>

<th:block th:replace="~{/fragments/sidebar.html}"/>

<main>
    <div class="page-content page-container" id="page-content" th:object="${user}">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-xl-6 col-md-12">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-4 bg-c-lite-green user-profile">
                                <div class="card-block text-center text-white">
                                    <div class="m-b-25">
                                    </div>
                                    <p class="m-b-10 f-w-600" th:text="*{role}">Client</p>
                                    <h6 class="f-w-600 username" th:text="*{username}"></h6>
                                    <button data-toggle="modal" data-target="#consentModal" id="promoteBtn"
                                            th:unless="*{role=='ADMIN'}"
                                            sec:authorize="hasRole('ROLE_ADMIN')">Promote
                                    </button>
                                    <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="card-block">
                                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600 header">Information</h6>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600 header ">Email</p>
                                            <h6 class="text-muted f-w-400" th:text="*{email}">rntng@gmail.com</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600 header header">Rating</p>
                                            <h6 class="text-muted f-w-400" th:text="*{rating}">98979989898</h6>
                                        </div>
                                        <div class="col-sm-6 addressBar" th:if="${#authorization.expression('ownsProfile(__${user.id}__)')}">
                                            <p class="m-b-10 f-w-600 header header" style="display: block">Address/es</p>
                                            <div th:each="address : *{addresses}" class="address-holder">
                                                <h6 class="text-muted f-w-400"
                                                    th:text="${address}">
                                                </h6>
                                                <button class="delete-address" th:id="|delete-${address.id}|">
                                                    <img th:src="@{/images/bin.png}" alt="Delete"
                                                         style="height: 20px; width: 20px;">
                                                </button>
                                            </div>

                                            <a th:href="@{/addresses/add}" class="add-address">Add Address</a>
                                        </div>
                                    </div>
                                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600 header">Offers</h6>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600 header"><a id="offersAnchor"
                                                                                th:href="@{/offers/all (seller=*{username})}">See
                                                all offers here</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:replace="~{/fragments/footer.html}"/>

<script th:inline="javascript">
    const continueBtn = document.getElementById("continueBtn");
    const csrfHeaderName = document.head.querySelector('[name=_csrf_header]').content;
    const csrfHeaderValue = document.head.querySelector('[name=_csrf]').content;

    continueBtn.addEventListener("click", promote);

    async function promote(ev) {
        ev.preventDefault();

        const username = [[${user.username}]];

        const options = {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
                'Accepts': 'application/json',
                [csrfHeaderName]: csrfHeaderValue
            },
            body: JSON.stringify({
                username
            })
        };

        await fetch("http://localhost:8000/api/users/promote", options);
        window.location = "/users/profile/" + username;
    }
</script>

</body>
</html>