
#exampleModalCenter, #consentModal{
    position: fixed;
    z-index: 1;
}

.modal-backdrop{
    position: fixed;
    z-index: 0;
}

.sortBtnWrap{
    max-width: 33vw;
}

#saveSortBtn, #continueBtn{
    background-color: var(--dense-gold);
    border-color: transparent;
}

#closeModalBtn, #returnBtn{
    background-color: var(--light-black);
    border-color: transparent;
}

.search .sort{
    background-color: var(--royal-red);
}

.modal-body{
    margin: 0 !important;
}

.modal-body input{
    -webkit-appearance: none;
    display: none;
    background: none;
    border: none;
}

.modal-body form>label{
    width: 100%;
    line-height: 40px;
}

.modal-body input[type="radio"]:checked + label{
    background-color: var(--grey);
}

#place_order_form{
    display: none;
}

.no-border{
    border: none !important;
}